<h2>sign up</h2>
<form method="post"> 
    {%csrf_token%}
    <div class="fieldWrapper">
        <div>
            {{ form.username.errors.as_text  }}
        </div>
        <div>
            {{ form.username.label_tag }}
        </div>
        <div>
            {{ form.username }}
        </div>
    </div>

    <div class="fieldWrapper">
        <div>
            {{ form.email.errors.as_text  }}
        </div>
        <div>
            {{ form.email.label_tag }}
        </div>
        <div>
            {{ form.email }}
        </div>
    </div>

    <div class="fieldWrapper">
        <div>
            {{ form.password.errors.as_text  }}
        </div>
        <div>
            {{ form.password.label_tag }}
        </div>
        <div>
            {{ form.password }}
        </div>
    </div>
    
            
    <button type="submit"> sign up </button> 
</form>